{% extends 'base.html' %}

{% block content %}
<div class="row text-center">
    <div class="col">
        <h1>Welcome to Tweetme 2</h1>
    </div>
</div>


<div class="row mb-3">
    <div class="col-md-4 mx-auto col-10">
        <form method="POST" id="tweet-create-form" action="api/tweets/create/" class="form">
            {% csrf_token %}
            <input type="hidden" value="/" name="next">
            <textarea required='required' name="content" class="form-control" placeholder="Your Tweet"></textarea>
            <button type="submit" class="btn btn-primary">Tweet</button>
        </form>
    </div>
</div>

<div class="row" id="tweets">
    Loading...
</div>

<script>

function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

const handleTweetCreateFormDidSubmitFetch= async (event) =>{
    event.preventDefault()
    const myForm = event.target
    const myFormData = new FormData(myForm)
    const data = JSON.stringify({
        next: myFormData.get("next"),
        content: myFormData.get("content"),
    })
    const url = myForm.getAttribute("action")
    const method = myForm.getAttribute("method")
    const csrftoken = myFormData.get('csrfmiddlewaretoken')
    const headers = {
        "Content-Type": "application/json",
        "HTTP_X_REQUESTED_WITH": "XMLHttpRequest",
        "X-Requested-With": "XMLHttpRequest",
        "X-CSRFToken": csrftoken,
    }
    const response = await fetch(url, {
        method: method,
        headers: headers,
        body: data,
    })
    const serverResponse = await response.json()
    if (response.status === 201) {
        const newTweet = serverResponse
        const newTweetElement = formatTweetElement(newTweet)
        const ogHtml = tweetsContainerElement.innerHTML
        tweetsContainerElement.innerHTML = newTweetElement + ogHtml
        myForm.reset()
    } else if (response.status === 400){
        console.log(response);
        alert("An error occurred. Please tye again later")
    } else if (response.status === 401){
        alert("Yout must login!")
        window.location.href = "/login"
    }
    else if (response.status === 403){
        alert("Yout must login!")
        window.location.href = "/login"
    }
    else if (response.status === 500){
        alert("There was a server error, please try again")
    }
}

const handleTweetCreateFormDidSubmit = (event) =>{
    handleTweetCreateFormDidSubmitFetch(event)
}

const handleTweetCreateFormDidSubmitXMLHttpRequest = (event) =>{
    event.preventDefault()
    const myForm = event.target
    const myFormData = new FormData(myForm)
    const url = myForm.getAttribute("action")
    const method = myForm.getAttribute("method")
    const xhr = new XMLHttpRequest()
    const responseType = "json"
    xhr.responseType = responseType
    xhr.open(method, url)
    xhr.setRequestHeader("HTTP_X_REQUESTED_WITH", "XMLHttpRequest")
    xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest")
    xhr.onload = () => {
        if (xhr.status === 201){
        const newTweet = xhr.response
        const newTweetElement = formatTweetElement(newTweet)
        const ogHtml = tweetsContainerElement.innerHTML
        tweetsContainerElement.innerHTML = newTweetElement + ogHtml
        myForm.reset()
        } else if (xhr.status === 400){
            const errorJson = xhr.response
            alert("An error occurred. Please tye again later")
        } else if (xhr.status === 401){
            alert("Yout must login!")
            window.location.href = "/login"
        }
        else if (xhr.status === 403){
            alert("Yout must login!")
            window.location.href = "/login"
        }
        else if (xhr.status === 500){
            alert("There was a server error, please try again")
        }
    }
    xhr.onerror = () => {
        alert("An error occurred. Please tye again later")
    }

    xhr.send(myFormData)
}

const tweetCreateFormEl = document.getElementById("tweet-create-form")
tweetCreateFormEl.addEventListener("submit", handleTweetCreateFormDidSubmit)

const tweetsContainerElement = document.getElementById("tweets")

const loadTweets = async (tweetsElement) => {
    const method = "GET"
    const url = "api/tweets"
    const response = await fetch(url, {
        method: method,
    })
    const serverResponse = await response.json()
    const listedItems = serverResponse
    var finalTweetStr = ""
    var i;
    for (i = 0; i < listedItems.length; i++) {
        var tweetObj = listedItems[i]
        finalTweetStr += formatTweetElement(tweetObj)
    }
    tweetsElement.innerHTML = finalTweetStr
}

const loadTweetsXMLHttpRequest = (tweetsElement) =>{
    const xhr = new XMLHttpRequest()
    const method = "GET"
    const url = "api/tweets"
    const responseType = "json"
    xhr.responseType = responseType
    xhr.open(method, url)
    xhr.onload = () => {
        const serverResponse = xhr.response
        const listedItems = serverResponse
        var finalTweetStr = ""
        var i;
        for (i = 0; i < listedItems.length; i++) {
            var tweetObj = listedItems[i]
            finalTweetStr += formatTweetElement(tweetObj)
        }
        tweetsElement.innerHTML = finalTweetStr
    }
    xhr.send()
}

loadTweets(tweetsContainerElement)

const handleTweetActionBtn = async (tweet_id, currentCount, action) => {
    const url = "api/tweets/action/"
    const method = "POST"
    const data = JSON.stringify({
        "id": tweet_id,
        "action": action
    })
    var csrftoken = getCookie('csrftoken');
    const headers = {
        "Content-Type": "application/json",
        "HTTP_X_REQUESTED_WITH": "XMLHttpRequest",
        "X-Requested-With": "XMLHttpRequest",
        "X-CSRFToken": csrftoken,
    }
    const response = await fetch(url, {
        method: method,
        headers: headers,
        body: data
    })
    loadTweets(tweetsContainerElement)
}

const handleTweetActionBtnXMLHttpRequest = (tweet_id, currentCount, action) =>{
    console.log(tweet_id, currentCount);
    const url = "api/tweets/action/"
    const method = "POST"
    const data = JSON.stringify({
        id: tweet_id,
        action: action
    })
    const xhr = new XMLHttpRequest()
    var csrftoken = getCookie('csrftoken');
    xhr.open(method, url)
    xhr.setRequestHeader("Content-Type", "application/json")
    xhr.setRequestHeader("HTTP_X_REQUESTED_WITH", "XMLHttpRequest")
    xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest")
    xhr.setRequestHeader("X-CSRFToken", csrftoken)
    xhr.onload = () =>{
        loadTweets(tweetsContainerElement)
    }
    xhr.send(data)
}

const RetweetBtn = (tweet) =>{
    return "<button class='btn btn-outline-success btn-sm' onclick=handleTweetActionBtn(" + tweet.id + "," + tweet.likes + ",'retweet')>Retweet</button>"
}

const unLikeBtn = (tweet) =>{
    return "<button class='btn btn-outline-primary btn-sm' onclick=handleTweetActionBtn(" + tweet.id + "," + tweet.likes + ",'unlike')>Unlike</button>"
}

const LikeBtn = (tweet) =>{
    return "<button class='btn btn-primary btn-sm' onclick=handleTweetActionBtn(" + tweet.id + "," + tweet.likes + ",'like')>" + tweet.likes + " Likes</button>"
}

const formatTweetElement = (tweet) =>{
    var formattedTweet = "<div class='col-12 col-md-10 mx-auto border rounded py-3 mb-4 tweet' id='tweet-" + tweet.id 
    + "'><p>" + tweet.content 
        + "</p><div class='btn-group'>" 
            + LikeBtn(tweet) + unLikeBtn(tweet) + RetweetBtn(tweet) +
        "</div></div>" 
    return formattedTweet
}


</script>

{% endblock content %}
