.profile-card {
  align-items: left;
  width: fit-content;
  margin-inline: 35vw;
  margin-bottom: 20px;
}
.tweet {
  margin-inline: 35vw;
  border: 5px solid gray;
  padding-block: 10px;
}
.create {
  margin-inline: 35vw;
  padding-block: 10px;
}
.navbar-container {
  margin-inline: 33.5vw !important;
}
.form {
  width: 30%;
  margin: auto;
}
.required {
  font-weight: bold;
  color: #e32;
  padding-left: 2px;
}
.tooltip1 {
  position: relative;
}

.tooltip1 .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
}

.tooltip1 .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.tooltip1:hover .tooltiptext {
  visibility: visible;
}
